@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

html,
body {
    font-family: 'Ubuntu Mono', monospace;
}

* {
    box-sizing: border-box;
}

.blinking-cursor::after {
    content: '|';
    animation: blink 1s step-start infinite;
}
@keyframes blink {
    50% {
        opacity: 0;
    }
}

.slider-image {
    padding: 0 15px 0 15px !important;
}

.customShadow {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}